// Fonts
@font-face {
    font-family: "Icomoon";
    src: url("../fonts/icomoon.eot?cmych7");
    src: url("../fonts/icomoon.eot?cmych7#iefix") format("embedded-opentype"),
        url("../fonts/icomoon.ttf?cmych7") format("truetype"),
        url("../fonts/icomoon.woff?cmych7") format("woff"),
        url("../fonts/icomoon.svg?cmych7#icomoon") format("svg");
    font-display: swap;
}

@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url("../fonts/Onest-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@mixin Icomoon {
    font-family: "Icomoon", sans-serif;
}

@mixin Pacifico {
    font-family: "Pacifico", sans-serif;
}

@mixin Onest {
    font-family: "Onest", sans-serif;
}

// Variables
$size-fullhd: 1900px;
$size-2k: 2540px;
$size-1400: 1420px;
$size-min: 390px;

:root {
    // Colors
    --white-color: rgb(255, 251, 245);
    --bg-color: rgb(225, 211, 198);
    --bg-secondary-color: #F0E9E1;
    --nav-menu-bg-color: rgba(225, 211, 198, .5);
    --black-color: rgba(0, 0, 0, 1);
    --main-color: #2F1A0F;
    --main-active-color: #5e3017;
    --link-color: #244938;
    --link-active-color: #153627;
    --selection: rgba(21, 54, 39, 0.8);

    // Font - sizes
    --fsz-hero-header: 60px;
    --fsz-headers: 30px;
    --fsz-menu: 26px;
    --fsz-middle: 20px;
    --fsz-main: 18px;
    --fsz-small: 16px;
    --fsz-exsmall: 14px;
    --fsz-multiplier: 0.6;
}

::selection {
    background-color: var(--selection);
}

// Fonts - Fluid Typography
@mixin fsz-headers {
    font-size: var(--fsz-headers);

    @media screen and (max-width: $size-fullhd) {
        // fsz = 30px on 1900px width   and   20px on 390px
        // divider = on max width (1900px - 390px) / 30px - 20px
        // 1510 / 10 = 151
        font-size: clamp(var(--fsz-middle),
                calc(var(--fsz-middle) + (100vw - $size-min) / 151),
                var(--fsz-headers));
    }
}

@mixin fsz-menu {
    font-size: var(--fsz-menu);

    @media screen and (max-width: $size-fullhd) {
        // fsz = 26px on 1900px width   and   16px on 390px
        // divider = on max width (1900px - 390px) / 26px - 16px
        // 1510 / 10 = 151
        font-size: clamp(var(--fsz-small),
                calc(var(--fsz-small) + (100vw - $size-min) / 151),
                var(--fsz-menu));
    }
}

@mixin fsz-main {
    font-size: var(--fsz-main);

    @media screen and (max-width: $size-fullhd) {
        // fsz = 18px on 1420px width   and   16px on 390px
        // divider = on max width (1420px - 390px) / 18px - 16px
        // 1030 / 2 = 515
        font-size: clamp(var(--fsz-small),
                calc(var(--fsz-small) + (100vw - $size-min) / 515),
                var(--fsz-main));
    }
}

@mixin fsz-small {
    font-size: var(--fsz-small);

    @media screen and (max-width: $size-fullhd) {
        // fsz = 16px on 1420px width   and   14px on 390px
        // divider = on max width (1420px - 390px) / 16px - 14px
        // 1030 / 2 = 515
        font-size: clamp(var(--fsz-exsmall),
                calc(var(--fsz-exsmall) + (100vw - $size-min) / 515),
                var(--fsz-small));
    }
}

@mixin fsz-hero-header {
    font-size: var(--fsz-hero-header);

    @media screen and (max-width: $size-fullhd) {
        // fsz = 60px on 1900px width   and   26px on 390px
        // divider = on max width (1900px - 390px) / 60px - 26px
        // 1510 / 34 = 44
        font-size: clamp(var(--fsz-menu),
                calc(var(--fsz-menu) + (100vw - $size-min) / 44),
                var(--fsz-hero-header));
    }
}

// General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

table,
tr,
td,
th {
    border: none;
}

html {
    height: 100%;
}

body {
    @include Onest();
    @include fsz-main();

    & {
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        overflow-x: hidden;
        color: var(--main-color);
    }
}

.section__inner {
    width: 90%;
    max-width: calc(2048px * 0.9);
    margin: 0 auto;
}

.section__title {
    @include fsz-headers();

    & {
        text-align: center;
        font-weight: 700;
    }
}

.logo {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &__link {
        flex-shrink: 0;
        width: 100px;
        height: 100px;
    }
}

.contacts {
    @include fsz-main();

    & {
        display: flex;
        align-self: flex-end;
        align-items: center;
        gap: 20px;
    }

    &__address,
    &__link,
    &__mail {
        position: relative;
        display: block;
        padding-left: 30px;

        &::before {
            @include Icomoon();

            & {
                content: '\e948';
                position: absolute;
                display: block;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__address {
        color: var(--main-color);
    }

    &__link,
    &__mail {
        color: var(--link-color);
        font-weight: 700;
        transition: color .2s ease-in-out;
    }

    &__link {
        &::before {
            content: '\e958';
        }
    }

    &__mail {
        &::before {
            content: '\e945';
        }
    }

    &__link:active,
    &__link:hover {
        color: var(--main-active-color);
        text-decoration: underline;
    }
}

.button {
    @include Onest();
    @include fsz-menu();

    & {
        display: inline-block;
        padding: 10px;
        color: var(--white-color);
        outline: none;
        border: none;
        background-color: var(--link-color);
        cursor: pointer;
    }

    &:hover,
    &:focus,
    &:active {
        transform: translate(1px, 1px);
        background-color: var(--link-active-color);
    }
}

// Hero
.hero {
    position: relative;
    width: 100%;
    max-width: 2048px;
    height: 100vh;
    margin: 0 auto;
    color: var(--white-color);
    background: url(../images/hero-bg.webp) center bottom/cover no-repeat #E1D3C6;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, transparent 0%, var(--bg-color) 100%);
        z-index: 50;
    }

    &__inner {
        display: flex;
        max-width: initial;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    &__parallax {
        &-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-first {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 110vw;
            height: calc(110vw * 0.222592592592);
            transform: translate(-50%, 20%);
            background: url(../images/parallax-first.webp) center bottom/contain no-repeat transparent;
            z-index: 10;
            pointer-events: none;
        }

        &-second {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50vw;
            max-width: 800px;
            height: calc(50vw * 0.8366666666);
            transform: translate(5%, 5%);
            background: url(../images/parallax-second.webp) center bottom/contain no-repeat transparent;
            z-index: 20;
            pointer-events: none;
        }

        &-logo {
            position: absolute;
            left: 15vw;
            top: 55%;
            width: 25vw;
            height: calc(25vw * 0.908831908831);
            transform: translate(-50%, -50%);
            background: url(../images/logo.svg) center bottom/contain no-repeat transparent;
            z-index: 1;
        }

        &-text {
            @include Pacifico();
            @include fsz-hero-header();

            & {
                position: absolute;
                left: 55%;
                top: 50%;
                width: 60vw;
                max-width: 950px;
                transform: translate(-50%, -50%);
                text-align: center;
                text-shadow: 0 0 5px var(--black-color);
                z-index: 1;
            }
        }

        &-fog1 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: translate(-10%, 10%) scale(2) rotate(0deg);
            opacity: 0;
            background: url(../images/fog_1.webp) center bottom/cover no-repeat transparent;
            z-index: 30;
            pointer-events: none;

            animation: fog1movement 10s linear infinite;
        }

        @keyframes fog1movement {
            0% {
                transform: translate(-10%, 10%) scale(2) rotate(0deg);
                opacity: 0;
            }

            50% {
                transform: translate(0%, 0%) scale(2.5) rotate(10deg);
                opacity: 0.8;
            }

            100% {
                transform: translate(20%, -10%) scale(2) rotate(25deg);
                opacity: 0;
            }
        }

        &-fog2 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: translate(20%, 20%) scale(1);
            opacity: 0;
            background: url(../images/fog_5.webp) center bottom/cover no-repeat transparent;
            z-index: 30;
            pointer-events: none;

            animation: fog2movement 10s 5s linear infinite;
        }

        @keyframes fog2movement {
            0% {
                transform: translate(40%, 20%) scale(1.5) rotate(0);
                opacity: 0;
            }

            50% {
                transform: translate(20%, 0%) scale(1.8) rotate(30deg);
                opacity: 0.6;
            }

            100% {
                transform: translate(0%, -10%) scale(1.5) rotate(60deg);
                opacity: 0;
            }
        }

        @media screen and (max-width: 800px) {
            &-logo {
                top: 40%;
                left: 50%;
            }

            &-text {
                top: 65%;
                left: 50%;
                width: 65vw;
            }
        }

        @media screen and (min-height: 1000px) {
            &-logo {
                top: 40%;
                left: 50%;
            }

            &-text {
                top: 65%;
                left: 50%;
                width: 65vw;
            }
        }
    }
}

// Header
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 140px;
    padding: 20px 0;
    background-color: var(--nav-menu-bg-color);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 2px 1px var(--black-color);
    z-index: 100;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        @include fsz-menu();

        & {
            display: flex;
        }

        &-burger {
            display: none;
            padding: 20px;
            color: var(--link-color);
            background: none;
            box-shadow: none;
            border: none;
            z-index: 15;
            outline: none;

            svg {
                width: 30px;
                height: 30px;
            }

            svg path {
                stroke-width: 2;
                stroke: var(--link-color);
                filter: none;
                transition: all .2s ease-in-out;
            }
        }

        &-section {
            display: flex;
            flex-direction: column;
            transition: opacity 0.2s ease-in-out;
        }

        &-list {
            display: flex;
            margin-bottom: 20px;
            gap: 20px;
        }

        &-link {
            color: var(--link-color);
            transition: color .2s ease-in-out;
        }

        &-link:active,
        &-link:hover {
            color: var(--link-active-color);
            text-decoration: underline;
        }

        .contacts,
        .contacts__link {
            color: var(--link-color);
        }

        .contacts__link {

            &:active,
            &:hover {
                color: var(--link-active-color);
            }
        }

        @media screen and (max-width: 900px) {
            &-section {
                position: absolute;
                align-items: center;
                justify-content: center;
                top: 50vh;
                left: 50vw;
                width: 95%;
                transform: translate(-50%, -50%);
                opacity: 0;
            }

            &-burger {
                display: block;
            }

            &-list,
            .contacts {
                @include fsz-menu();

                width: 100%;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                margin-bottom: 10px;
            }

            .contacts {
                flex-direction: column-reverse;
            }
        }
    }

    &.header__active {
        max-height: 100%;

        .header__nav-burger svg {
            .line__top {
                transform: translate(19%, 33%) rotate(45deg);
                transform-origin: top center;
            }

            .line__middle {
                opacity: 0;
            }

            .line__bottom {
                transform: translate(19%, -31%) rotate(-45deg);
                transform-origin: bottom center;
            }
        }

        .header__nav-section {
            opacity: 1;
        }

        @media screen and (min-width: 900px) {
            max-height: 140px;
        }
    }
}

// Footer
.footer {
    &__inner {
        display: flex;
        align-items: center;
        padding: 50px 0;
    }

    &__left,
    &__right {
        width: 50%;
        flex-shrink: 0;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo,
    &__nav,
    &__map,
    &__contacts {
        width: 50%;
        flex-shrink: 0;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__map {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__map iframe {
        aspect-ratio: 1;
        max-width: 400px;
    }

    &__contacts {
        display: flex;
        justify-content: space-evenly;
    }

    .contacts {
        align-self: center;
        flex-direction: column;
        align-items: stretch;
    }

    &__promo {
        @include fsz-small();

        & {
            line-height: 1.2;
        }
    }

    &__logo .logo__link {
        // fsz = 200px on 1420px width   and   100px on 1000px
        // divider = on max width (1420px - 1000px) / 200px - 100px
        // 420 / 100 = 4
        --width: clamp(100px,
                calc(100px + (100vw - 1000px) / 4),
                200px);
        width: var(--width);
        height: var(--width);
        flex-shrink: 0;
    }

    &__nav {
        @include fsz-menu();

        & {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
        }

        &-link {
            color: var(--link-color);
        }

        &-link:active,
        &-link:hover {
            color: var(--link-active-color);
        }
    }

    @media screen and (max-width: $size-1400) {
        &__nav {
            @include fsz-small();
        }

        &__contacts {
            .contacts {
                @include fsz-small();
            }
        }
    }

    @media screen and (max-width: 860px) {
        &__inner {
            flex-direction: column;
            gap: 30px;
        }

        &__left,
        &__right {
            width: 100%;
            justify-content: space-evenly;
        }

        &__right {
            flex-direction: row-reverse;
        }

        &__map iframe {
            max-width: 300px;
        }

        &__nav {
            @include fsz-menu();
        }

        &__contacts {
            .contacts {
                @include fsz-menu();
            }
        }

        &__logo .logo__link {
            // fsz = 200px on 800px width   and   100px on 390px
            // divider = on max width (800px - 390px) / 200px - 100px
            // 410 / 100 = 4
            --width: clamp(100px,
                    calc(100px + (100vw - 390px) / 4),
                    300px);
        }
    }

    @media screen and (max-width: 560px) {
        &__inner {
            padding: 30px 0;
        }

        &__left,
        &__right {
            flex-direction: column;
            gap: 30px
        }

        &__logo,
        &__nav,
        &__contacts,
        &__map {
            width: 100%;
        }
    }
}

// Goods / About
.goods {
    &__inner {
        display: flex;
        flex-direction: column;
        padding: 50px 0 40px 0;
        gap: 40px;
    }

    &__item {
        display: flex;
        width: 100%;
        gap: 4%;
        align-items: center;
        justify-content: space-between;
    }

    &__item:nth-child(2n) {
        flex-direction: row-reverse;
    }

    &__info,
    &__picture {
        width: 48%;
        flex-shrink: 0;
    }

    &__info {
        &-title {
            @include fsz-menu();

            & {
                font-weight: 600;
                text-align: center;
                line-height: 1.8;
            }
        }
    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;

        &-img {
            width: 100%;
            max-width: 500px;
            aspect-ratio: 1.5;
        }
    }

    &__prices {
        display: block;
        margin-top: 20px;

        &-header {
            font-weight: 700;
        }

        &-row {
            display: flex;
            justify-content: space-evenly;
        }

        &-cell {
            width: 40%;
            padding: 3px 0;
            text-align: center;
            border-bottom: 1px solid var(--link-color);
        }
    }

    &__button {
        margin-top: 20px;
        text-align: center;
    }

    @media screen and (max-width: 860px) {

        &__item,
        &__item:nth-child(2n) {
            flex-direction: column;
        }

        &__info,
        &__picture {
            width: 100%;
        }

        &__info {
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 560px) {
        &__inner {
            padding-top: 30px;
        }
    }

    @media screen and (max-width: $size-min) {
        &__prices {
            &-cell {
                width: 50%;
            }
        }
    }
}

// Advantages
.advantages {
    background-color: var(--bg-secondary-color);

    &__inner {
        padding: 50px 0 40px 0;
    }

    &__title {
        padding-bottom: 30px;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
    }

    &__item {
        position: relative;
        display: flex;
        width: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        gap: 30px;

        &::before {
            @include Icomoon();

            & {
                content: '';
                display: block;
                flex-shrink: 1;
                font-size: var(--fsz-hero-header);
                color: var(--main-active-color);
            }
        }

        &-quality::before {
            content: '\e9d9';
        }

        &-delivery::before {
            content: '\e9b0';
        }

        &-prices::before {
            content: '\e936';
        }

        &-title {
            @include fsz-menu();

            & {
                flex-shrink: 1;
                font-weight: 700;
                text-align: center;
            }
        }

        &-text {
            display: flex;
            align-items: center;
            text-align: center;
            flex-grow: 1;
        }
    }

    @media screen and (max-width: 950px) {
        &__list {
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }
    }
}

// Assortment
.assortment {
    &__inner {
        padding: 50px 0 40px 0;
    }

    &__title {
        padding-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &__item {
        position: relative;
        width: 30%;
        min-width: 400px;
        aspect-ratio: 1.5;
        padding: 20px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: var(--nav-menu-bg-color);
            backdrop-filter: blur(3px);
        }

        &-link {
            position: relative;
            display: flex;
            width: 100%;
            min-height: 100%;
            flex-direction: column;
            align-items: center;
            color: var(--main-color);
            text-shadow: 0 0 1px var(--bg-color);
        }

        &-title,
        &-text {
            text-align: center;
            font-weight: 500;
        }

        &-title {
            @include fsz-menu();

            & {
                font-weight: 700;
                padding-bottom: 10px;
            }
        }

        &-text {
            @include fsz-small();
        }

        &-lumber {
            background: url(../images/lumber.webp) center bottom/cover no-repeat #E1D3C6;
        }

        &-house {
            background: url(../images/dog.webp) center bottom/cover no-repeat #E1D3C6;
        }

        &-pallet {
            background: url(../images/pallet.webp) center bottom/cover no-repeat #E1D3C6;
        }
    }

    @media screen and (max-width: 460px) {
        &__item {
            width: 100%;
            min-width: initial;
        }
    }
}

// Callback Form
.callback {
    background-color: var(--bg-secondary-color);

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 50px 0 40px 0;
    }

    &__title,
    &__form-input {
        @include Onest();
        @include fsz-menu();
    }

    &__title {
        font-weight: 700;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 20px;

        &-input {
            padding: 10px;
            background: none;
            border: none;
            border-bottom: 1px solid var(--link-color);
            outline: none;
        }
    }

    @media screen and (max-width: 800px) {
        &__form {
            width: 80%;
        }
    }

    @media screen and (max-width: 500px) {
        &__form {
            width: 100%;
        }
    }

}